<!-- cadastro.component.html -->

<form *ngIf="cadastroForm" [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" formControlName="nome" required>
        <div *ngIf="cadastroForm.get('nome')?.invalid && (cadastroForm.get('nome')?.dirty || cadastroForm.get('nome')?.touched)">
          <div *ngIf="cadastroForm.get('nome')?.errors?.['required']">Nome é obrigatório.</div>
        </div>
      </div>
    
      <div>
        <label for="email">E-mail:</label>
        <input type="email" id="email" formControlName="email" required>
        <div *ngIf="cadastroForm.get('email')?.invalid && (cadastroForm.get('email')?.dirty || cadastroForm.get('email')?.touched)">
          <div *ngIf="cadastroForm.get('email')?.errors?.['required']">E-mail é obrigatório.</div>
          <div *ngIf="cadastroForm.get('email')?.errors?.['email']">E-mail inválido.</div>
        </div>
      </div>
    
      <div>
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" formControlName="cpf" required>
        <div *ngIf="cadastroForm.get('cpf')?.invalid && (cadastroForm.get('cpf')?.dirty || cadastroForm.get('cpf')?.touched)">
          <div *ngIf="cadastroForm.get('cpf')?.errors?.['required']">CPF é obrigatório.</div>
        </div>
      </div>
    
      <div>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" formControlName="senha" required>
        <div *ngIf="cadastroForm.get('senha')?.invalid && (cadastroForm.get('senha')?.dirty || cadastroForm.get('senha')?.touched)">
          <div *ngIf="cadastroForm.get('senha')?.errors?.['required']">Senha é obrigatória.</div>
        </div>
      </div>
    
      <button type="submit" [disabled]="cadastroForm.invalid">Cadastrar</button>
  </form>
  